body {
    background-color: rgb(232,238,239);
}

.banner {
    width: 100%;
}

.mainContainerClass {
    border: 2px solid rgb(100,0,0)
}

.promptContainerClass {
    border: 2px solid rgb(0,100,0)
}

.promptClass {
    border: 2px solid rgb(0,150,0)
}

.responseClass {
    border: 2px solid rgb(0,200,0)
}

#toastId.htmx-settling {
    opacity: 100;
}

#toastId {
    color: black;
    background: #8be662;
    opacity: 0;
    transition: opacity 2s ease;
}